@charset "utf-8";
body{background-color:#004633;}
fieldset{border:0 none;margin:0;padding:0;}
.bg-green{background-color:#004633;}
.bg-green2{background-color:#00563d;}
.bg-darkGreen{background-color:#13382c;}
.bg-darkGreen2{background-color:#005a41;}
.bg-gray1{background-color:#202f28;}
.bg-littleGreen{background-color:#007a5b;}
.bg-yellow{background-color:#ffee25;}
.bg-yellow2{background-color:#ffd100;}
.bg-yellow3{background-color:#f4dc00;}
.bg-white{background-color: #fff;}
.bg-gray{background-color: #dbdbdb;}
.text-white, a.text-white{color:#fff;}
.text-yellow, a.text-yellow{color:#ffee25;}
.text-yellow2, a.text-yellow2{color:#ffd100;}
.text-yellow3, a.text-yellow3{color:#f4dc00;}
.text-yellow4, a.text-yellow4{color:#ba9e26;}
.text-green, a.text-green{color:#004633;}
.text-darkGreen, a.text-darkGreen{color:#13382c;}
.text-littleGreen, a.text-littleGreen{color:#07a67e;}
.text-littleGreen2, a.text-littleGreen2{color:#64c8ac;}
.text-littleGreen3, a.text-littleGreen3{color:#72e3c4 !important;}
.text-littleYellw, a.text-littleYellow{color:#b89e11;}
.text-gray1, a.text-gray1{color:#202f28;}
.bor-bottom-yellow{border-bottom:solid 1px #ffee25;}
.bor-top-yellow{border-top:solid 1px #ffee25;}
.bor-left-yellow{border-left:solid 1px #ffee25;}
.bor-right-yellow{border-right:solid 1px #ffee25;}
.bor-left-green{border-left:solid 1px #2f6b59;}
.bor4{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;}
.lh1 {line-height:100% }
.lh2 {line-height:125% }
.lh3 {line-height:150% }
.lh4 {line-height:175% }
.lh5 {line-height:200% }
.fullwidth{width:100%;}
.w60{width:60px;}
.w130{width:130px;}
.w150{width:150px;}
.w300{width:300px;}
.h90{height:90px;}
.h750{height:750px;}
.mt30{margin-top:30px !important;}
.ml25{margin-left:25px;}
.mr300{margin-right:300px;}
.p8{padding:8px;}
.pt5{padding-top:5px !important;}
.pl3{padding-left:3px;}
.pb3{padding-bottom:3px;}
.pb5{padding-bottom:5px !important;}
.fs24{font-size:24px;}
.hand{cursor:pointer;}
.tl{text-align:left !important;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.ti{text-indent:2em;}
.tdu{text-decoration:underline;}

/*布局类*/
.layout{width:960px;margin:0 auto;}
.layout2{width:400px;margin:0 auto;}
.mainHeight{height:800px;}

/*图标类*/
.icon-triangle-right{display:inline-block;width:0;height:0;border:4px solid transparent;border-left-color:#ffee25;}
.icon-refresh{display:inline-block;width:21px;height:17px;background:url(../images/icon_refresh.png) no-repeat center center;}

/*按钮*/

/*分割线*/
.line1{border-top:2px outset #01aa7f;box-shadow:0 1px 0 rgba(0,0,0,.2) inset,0 -1px 0 rgba(255,255,255,.2) inset;}
.line2{border-top:1px solid #062d23;opacity:0.6;}
.line3{border-top:1px solid #044f39;}
.line4{border-top:1px solid #202f28;}
.line5{border-top:1px solid #024936;}

/*表单样式*/
input[type="checkbox"]{width:16px;height:16px;border:1px solid #ffee25;border-radius:2px;appearance: none;-webkit-appearance: none;}
input[type="checkbox"]:checked{background:url(../images/icon_checked.png) no-repeat 2px 3px;}
.withdrawTitle{width:110px;height:36px;line-height:36px;}
.withdrawCon{width:180px;height:36px;line-height:36px;}
.widthdrawCon2{width:160px;}
.submitWrap2{margin-left:60px;}
.gameText{width: 280px;height: 70px;border: none;}

/*公共头部*/
.header{position:fixed;top:0;z-index:999;}
.header-t{height:140px;}

/*导航*/
.nav01{width:170px;}
.nav02{width:150px;}
.nav01 li a p, .nav02 li{height:50px;line-height:50px;}
.nav01 li a p.active{border-left:3px solid #202f28;background-color:#ffee25;color:#004633;}
.nav03{height:36px;}
.nav03 li.active{border:solid 1px #ffee25;border-bottom:none;color:#ffee25;background-color:#004633;}

/*表格*/
.commissionTable{color:#07a67e;}
.commissionTable th{padding-top:10px;padding-bottom:10px;font-weight:normal;}
.commissionTable td{padding-top:10px;padding-bottom:10px;color:#ba9e26;text-align:center;border-top:1px solid #004633;}
.infoTable{}
.infoTable th{font-weight:normal;font-size:12px;color:#07a67e;padding-bottom:3px;text-align:left;}
.infoTable td{color:#ffee25;font-size:16px;}

/*分页组件*/
.holder{}
.holder a{display:inline-block;height:12px;line-height:12px;font-size: 12px;cursor: pointer;padding: 0 8px;color: #ba9e26;border-right:solid 1px #ba9e26;}
.holder a.jp-current, a.jp-current:hover{color: #FF4242;font-weight: bold;}
.holder a.jp-disabled, a.jp-disabled:hover{color: #666;}
.holder a.jp-current, a.jp-current:hover, .holder a.jp-disabled, a.jp-disabled:hover{cursor: default;background: none;}
.holder span{display:inline-block;height:12px;line-height:12px;padding: 0 5px;color:#ba9e26;border-right:solid 1px #ba9e26;}

/*layer弹出层样式*/
body .demo-class .layui-layer-btn{padding:0;}
body .demo-class .layui-layer-btn .layui-layer-btn0{display:block;margin:0;padding:20px 0;border-radius:0;font-size:16px;line-height:1;border:none;background-color:#13382c;color:#ffee25;text-align:center;}

/*figure{margin:0;padding:0;}
.bg-hui-q{ background-color:#fafafa;}
.bg-hui{ background-color:#eceef3;}
.bg-hui-s{ background-color:#c9c9c9;}
.bg-green {background-color:#74d5ce;}
.bg-green-s { background-color: #00d3c2;}
.bg-orange { background-color: #ff7a25;}
.bg-white { background-color: #fff;}
.black,a.black {color:#000;}
.white,a.white {color:#fff;}
.hui-s,a.hui-s{color:#2a2a2a;}
.hui,a.hui{color:#4a4a4a;}
.hui-q,a.hui-q{color:#848484;}
.hui-qr,a.hui-qr {color:#b1b1b1;}
.grey-9b9b9b{color:#9b9b9b;}
.green,a.green {color:#74d5ce;}
.green-h,a.green-h {color:#1ecb61;}
.orange,a.orange {color:#fc4512;}
.fullwidth {width:100%;}
.halfwidth {width:50%;}
.quarwidth {width:25%;}
.thirdwidth {width:33.3%;}
.forthwidth{width:40%;}
.fourwidth {width:45%;}
.sixwidth {width:60%;}
.ninewidth {width:90%;}
.thirtywidth{width:29%;}
.btn { border: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;}
.left {left:0;}
.right {right:0;}
.top {top:0;}
.bottom {bottom:0;}
.halfleft {left:50%;}
.halftop {top:50%;}
.b-rad3 {border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
.b-rad5 {border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.odd { background-color: #f8f8f8;}
.bor-green {border:1px solid #00d3c2}
.bor-s {border:1px solid #dbdbdb;}
.bor-ss {border:1px solid #999;}
.bor-q-t {border-top:1px solid #e8e8e8;}
.bor-q-b {border-bottom:1px solid #e8e8e8;}
.bor-b-white{border-bottom:2px solid #fff}
.lh1 {line-height:100% }
.lh2 {line-height:125% }
.lh3 {line-height:150% }
.lh4 {line-height:175% }
.lh5 {line-height:200% }
.go-btn {margin-top:-8px;}
.pb8{padding-bottom:8px;}
.ml3p{margin-left:3%;}

/*公共头部*/
/* .header {line-height: 20px;position:fixed;top:0;z-index: 999;}
.head-t  {height:40px;} */
/*公共底部*/
/* .footer-t {height:54px;}
.footer {position:fixed;bottom:0;height:54px;border-top:1px solid #ededed;z-index:999;}
.footer .item{display:inline-block;float:left;padding:5px 0;} */
/*支付栏*/
/* .paybar-t {height:40px;}
.paybar {height:40px;line-height: 40px;position: fixed;} */

/*scroll样式重置*/
/* .mbsc-ios .mbsc-fr-btn {font-family:微软雅黑, "Microsoft YaHei", 宋体;font-size:16px;}
.mbsc-ios .mbsc-fr-btn0 {color:#0079fd;}
.mbsc-ios .mbsc-fr-btn1 {color:#848484;}
.mbsc-ios .mbsc-fr-w {font-family:微软雅黑, "Microsoft YaHei", 宋体;} */
/*顶部*/
/*底部导航*/

/* banner幻灯
.pagination { position: absolute; left: 0; text-align: center; bottom:5px; width: 100%; z-index:999; }
.swiper-pagination-bullet { display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: #999; margin: 0 3px; cursor: pointer; opacity:.8; }
.swiper-pagination-bullet-active { background: #00d3c2; } */