@charset "utf-8";

/*个人中心页面*/
.pb240{padding-bottom:240px;}
.startGameList-item{width:138px;}

/*个人中心-基本资料页面*/

/*个人中心-绑定银行卡*/
.inputDiv{width:140px;margin-left:308px;}
.btn-submit-container{margin-left:260px;}
.btn-submit{padding-left:70px;padding-right:70px;}
.mr140{margin-right:140px;}

/*个人中心-修改密码*/

/*个人中心-站内信*/

/*个人中心-充值*/
.dl-recharge dt{width:90px;}
.dl-recharge01 dt{width:130px;}
.recharge-list span.active{background-color:#ffee25;color:#212121;}
.mt175{margin-top:175px;}